@model m1climbing.Areas.Climbing.Models.Route

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>Route</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Grade" class="control-label"></label>
                <input asp-for="Grade" class="form-control" />
                <span asp-validation-for="Grade" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CragId" class="control-label"></label>
                <select asp-for="CragId" class="form-control" asp-items="ViewBag.CragId" id="CragId"></select>
            </div>
            <div class="form-group">
                <label asp-for="SectorId" class="control-label"></label>
                <select asp-for="SectorId" class="form-control" asp-items="ViewBag.SectorId" id="SectorId" disabled>
                    <option value="">Select a crag first</option>
                </select>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    @{await Html.RenderPartialAsync("_CragSectorScripts");}
}
